<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chengwenbi.dao.AssetMapper">

    <resultMap id="BaseResult" type="BaseEntity">
        <id property="id" column="id"/>
        <result property="createId" column="creater_id"/>
        <result property="createName" column="creater_name"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyId" column="modify_id"/>
        <result property="modifyName" column="modify_name"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>

    <resultMap id="result" type="AssetInfoDO" extends="BaseResult">
        <result property="assetNo" column="asset_no"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="money" column="money"/>
        <result property="purchaseTime" column="purchase_time"/>
        <result property="status" column="status"/>
        <result property="account" column="account"/>
        <result property="producers" column="producers"/>
        <result property="produceDate" column="produce_date"/>
    </resultMap>

    <sql id="All_Column_List">
        id,name,asset_no,category_id,category_name,money,purchase_time,status,account,producers,produce_date,creater_id,creater_name,create_time,modify_id,modify_name,modify_time
    </sql>

    <!-- sql 查询条件 -->
    <sql id="sql_query">
        <where>
            <if test="name != null and name != ''">
                and name like CONCAT(CONCAT("%",#{name}),"%")
            </if>
            <if test=" assetNo != null and assetNo != ''">
                and asset_no = #{assetNo}
            </if>
            <if test=" categoryId != null and categoryId != ''">
                and category_id = #{categoryId}
            </if>
            <if test=" categoryName != null and categoryName != ''">
                and category_name = #{categoryName}
            </if>
            <if test="money != null">
                and money =#{money}
            </if>
            <if test="purchaseTime != null">
                and purchase_time =#{purchaseTime}
            </if>
            <if test="status != null">
                and status =#{status}
            </if>
            <if test="account != null">
                and account =#{account}
            </if>
            <if test="producers != null and producers !=''">
                and producers =#{producers}
            </if>
            <if test="produceDate != null">
                and produce_date =#{produceDate}
            </if>
        </where>
    </sql>

    <select id="findAll" resultMap="result">
        select * from asset_info
    </select>

    <insert id="save" parameterType="com.chengwenbi.domain.entity.AssetInfoDO">
        insert into asset_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="assetNo != null and assetNo != ''">asset_no,</if>
            <if test="categoryId != null and categoryId != ''">category_id,</if>
            <if test="categoryName != null and categoryName != ''">category_name,</if>
            <if test="money != null">money,</if>
            <if test="purchaseTime != null">purchase_time,</if>
            <if test="status != null">status,</if>
            <if test="account != null">account,</if>
            <if test="producers != null and producers !=''">producers,</if>
            <if test="produceDate != null">produce_date,</if>
            <if test="createId != null">creater_id,</if>
            <if test="createName != null">creater_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="modifyId != null">modify_id,</if>
            <if test="modifyName != null">modify_name,</if>
            <if test="modifyTime != null">modify_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="name != null and name !=''">#{name},</if>
            <if test=" assetNo != null and assetNo != ''">#{assetNo},</if>
            <if test=" categoryId != null and categoryId != ''">#{categoryId},</if>
            <if test=" categoryName != null and categoryName != ''">#{categoryName},</if>
            <if test="money != null">#{money},</if>
            <if test="purchaseTime != null">#{purchaseTime},</if>
            <if test="status != null">#{status},</if>
            <if test="account != null">#{account},</if>
            <if test="producers != null and producers !=''">#{producers},</if>
            <if test="produceDate != null">#{produceDate},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createName != null">#{createName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="modifyId != null">#{modifyId},</if>
            <if test="modifyName != null">#{modifyName},</if>
            <if test="modifyTime != null">#{modifyTime},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.chengwenbi.domain.entity.AssetInfoDO">
        update asset_info
        <set>
            <if test=" assetNo != null and assetNo != ''">asset_no=#{assetNo},</if>
            <if test=" categoryId != null and categoryId != ''">category_id=#{categoryId},</if>
            <if test=" categoryName != null and categoryName != ''">category_name=#{categoryName},</if>
            <if test="money != null">money=#{money},</if>
            <if test="purchaseTime != null">purchase_time=#{purchaseTime},</if>
            <if test="status != null">status=#{status},</if>
            <if test="account != null">account=#{account},</if>
            <if test="producers != null and producers !=''">producers=#{producers},</if>
            <if test="produceDate != null">produce_date=#{produceDate},</if>
            <if test="createId != null">creater_id=#{createId},</if>
            <if test="createName != null">creater_name=#{createName},</if>
            <if test="createTime != null">create_time=#{createTime},</if>
            <if test="modifyId != null">modify_id=#{modifyId},</if>
            <if test="modifyName != null">modify_name=#{modifyName},</if>
            <if test="modifyTime != null">modify_time=#{modifyTime},</if>
        </set>
        where id=#{id}
    </update>

    <select id="findByParams" resultMap="result">
        select
        <include refid="All_Column_List"/>
        from asset_info
        <include refid="sql_query"/>
        order by create_time desc
    </select>

    <select id="findById" resultMap="result">
        select
        <include refid="All_Column_List"/>
        from asset_info where id=#{id}
    </select>

    <delete id="delete" parameterType="com.chengwenbi.domain.entity.AssetInfoDO">
        delete from asset_info where id=#{id}
    </delete>

    <update id="updateCount" parameterType="com.chengwenbi.domain.entity.AssetInfoDO">
        update asset_info set account =#{account},status=#{status} where id=#{id}
    </update>

</mapper>