<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chengwenbi.dao.CategoryMapper">

    <resultMap id="result" type="CategoryDO">
       <id property="id" column="id"/>
       <result property="name" column="name"/>
       <result property="parentId" column="parent_id"/>
    </resultMap>

    <sql id="All_Column_List">
        id,name,parent_id
    </sql>

    <!-- sql 查询条件 -->
    <sql id="sql_query">
        <where>
            <if test=" id != null and id != ''">
                and id = #{id}
            </if>
            <if test=" name != null and name != ''">
                and name = #{name}
            </if>
            <if test="parentId != null and parentId != ''">
                and parent_id = #{parentId}
            </if>
        </where>
    </sql>

    <select id="findAll" resultMap="result">
        select * from category
    </select>

    <insert id="save" parameterType="com.chengwenbi.domain.entity.CategoryDO">
       insert into category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="parentId != null and parentId != ''">parent_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="parentId != null and parentId != ''">#{parentId},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.chengwenbi.domain.entity.CategoryDO">
        update category
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="parentId != null and parentId != ''">parent_id = #{parentId},</if>
        </set>
        where id=#{id}
    </update>

   <select id="findById" parameterType="java.lang.String" resultMap="result">
      select * from category where id=#{id}
   </select>

   <delete id="delete" parameterType="java.lang.String">
      delete from category where id=#{id}
   </delete>
</mapper>