<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chengwenbi.dao.OrderInfoMapper">

    <resultMap id="BaseResult" type="BaseEntity">
        <id property="id" column="id"/>
        <result property="createId" column="creater_id"/>
        <result property="createName" column="creater_name"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyId" column="modify_id"/>
        <result property="modifyName" column="modify_name"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>

    <resultMap id="result" type="AssetOrderDO" extends="BaseResult">
        <result property="type" column="type"/>
        <result property="status" column="status"/>
        <result property="nowUserId" column="now_user_id"/>
        <result property="nowUserName" column="now_user_name"/>
        <result property="nowTime" column="now_time"/>
        <result property="remark" column="remark"/>
        <result property="approverId" column="approver_id"/>
        <result property="approver_name" column="approver_name"/>
        <result property="approveTime" column="approve_time"/>
        <result property="repayTime" column="repay_time"/>
    </resultMap>

    <sql id="All_Column_List">
        id,type,status,now_user_id,now_user_name,now_time,remark,approver_id,approve_time,creater_id,creater_name,create_time,modify_id,modify_name,modify_time,repay_time
    </sql>

    <!-- sql 查询条件 -->
    <sql id="sql_query">
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test=" type != null">
                and type = #{type}
            </if>
            <if test=" status != null ">
                and status = #{status}
            </if>
            <if test="nowUserId != null and nowUserId != ''">
                and now_user_id =#{nowUserId}
            </if>
            <if test="nowUserName != null and nowUserName != ''">
                and now_user_name =#{nowUserName}
            </if>
            <if test="approverId != null and approverId != ''">
                and approver_id =#{approverId}
            </if>
            <if test="approverName != null and approverName !=''">
                and approver_name =#{approverName}
            </if>
            <if test="createId != null and createId !=''">
                and creater_id=#{createId}
            </if>
            <if test="propApproverId != null and propApproverId !=''">
                and prop_approver_id=#{propApproverId}
            </if>
        </where>
    </sql>

    <select id="findAll" resultMap="result">
        select * from asset_order
    </select>

    <insert id="save" parameterType="com.chengwenbi.domain.entity.AssetOrderDO">
        insert into asset_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">id,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="status != null">status,</if>
            <if test="nowUserId != null and nowUserId != ''">now_user_id,</if>
            <if test="nowUserName != null and nowUserName != ''">now_user_name,</if>
            <if test="nowTime != null">now_time,</if>
            <if test="remark != null and remark !=''">remark,</if>
            <if test="approverId != null and approverId !=''">approver_id,</if>
            <if test="approverName != null and approverName != ''">approver_name,</if>
            <if test="approveTime != null">approve_time,</if>
            <if test="createId != null">creater_id,</if>
            <if test="createName != null">creater_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="modifyId != null">modify_id,</if>
            <if test="modifyName != null">modify_name,</if>
            <if test="modifyTime != null">modify_time,</if>
            <if test="propApproverId != null and propApproverId !=''">prop_approver_id,</if>
            <if test="propApproverName != null and propApproverName !=''">prop_approver_name,</if>
            <if test="repayTime != null">repay_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test=" type != null and type != ''">#{type},</if>
            <if test="status != null">#{status},</if>
            <if test="nowUserId != null and nowUserId != ''">#{nowUserId},</if>
            <if test="nowUserName != null and nowUserName !=''">#{nowUserName},</if>
            <if test="nowTime != null">#{nowTime},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="approverId != null and approverId !=''">#{approverId},</if>
            <if test="approverName != null and approverName !=''">#{approverName},</if>
            <if test="approveTime != null">#{approveTime},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createName != null">#{createName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="modifyId != null">#{modifyId},</if>
            <if test="modifyName != null">#{modifyName},</if>
            <if test="modifyTime != null">#{modifyTime},</if>
            <if test="propApproverId != null and propApproverId !=''">#{propApproverId},</if>
            <if test="propApproverName != null and propApproverName !=''">#{propApproverName},</if>
            <if test="repayTime != null">#{repayTime},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.chengwenbi.domain.entity.AssetOrderDO">
        update asset_order
        <set>
            <if test="nowUserId != null and nowUserId != ''">now_user_id=#{nowUserId},</if>
            <if test="nowUserName != null and nowUserName != ''">now_user_name=#{nowUserName},</if>
            <if test="nowTime != null">now_time=#{nowTime},</if>
            <if test="remark != null and remark != ''">remark=#{remark},</if>
            <if test="status != null">status=#{status},</if>
            <if test="approverId != null and approverId">approver_id=#{approverId},</if>
            <if test="approverName != null and approverName !=''">approver_name=#{approverName},</if>
            <if test="approveTime != null">approve_time=#{approveTime},</if>
            <if test="repayTime != null">repay_time=#{repayTime},</if>
        </set>
        where id=#{id}
    </update>

    <select id="findByParams" resultMap="result">
        select
        <include refid="All_Column_List"/>
        from asset_order
        <include refid="sql_query"/>
        order by create_time desc
    </select>

    <select id="findMaintainOrders" resultMap="result">
        SELECT
        <include refid="All_Column_List"/>
        from asset_order
       <where>
           <if test="id != null and id !=''">and id=#{id}</if>
           and status in (2,4)
       </where>
        order by create_time desc
    </select>

    <select id="findById" parameterType="java.lang.String" resultMap="result">
        select
        <include refid="All_Column_List"/>
        from asset_order
        where id=#{id}
    </select>

    <resultMap id="itemMap" type="com.chengwenbi.domain.entity.OrderItemDO">
        <id column="id" property="id"></id>
        <result column="order_id" property="orderId"/>
        <result column="asset_id" property="assetId"/>
        <result column="name" property="name"/>
        <result column="category_id" property="categoryId"/>
        <result column="category_name" property="categoryName"/>
        <result column="account" property="account"/>
    </resultMap>
    <select id="findOrderItems" resultMap="itemMap">
      select * from order_item where order_id=#{id}
    </select>

    <resultMap id="dataMap" type="com.chengwenbi.domain.vo.DataVO">
        <result column="type" property="type"/>
        <result column="count" property="count"/>
    </resultMap>

    <select id="findOrderByTime" resultMap="dataMap">
        select type,count(1) count from asset_operation
        <where>
            <if test="previousTime != null and previousTime !=''">
                <![CDATA[
                and DATE_FORMAT(create_time, '%Y-%m-%d')>=DATE_FORMAT(#{previousTime}, '%Y-%m-%d')
                ]]>
            </if>
            <if test="nextTime != null and nextTime !=''">
                <![CDATA[
                and DATE_FORMAT(create_time, '%Y-%m-%d') <=DATE_FORMAT(#{nextTime}, '%Y-%m-%d')
                ]]>
            </if>
        </where>
        group by type
    </select>

    <resultMap id="excelMap" type="com.chengwenbi.domain.vo.ExcelData">
        <result property="type" column="type"/>
        <result property="orderId" column="order_id"/>
        <result property="name" column="name"/>
        <result property="categoryName" column="category_name"/>
        <result property="account" column="account"/>
        <result property="createName" column="creater_name"/>
        <result property="approverName" column="approver_name"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <select id="findExcelData" resultMap="excelMap">
        select op.type,it.order_id,it.name,it.category_name,it.account,o.creater_name,o.approver_name,op.create_time
        from asset_operation op
        left join order_item it
        on op.order_id = it.order_id
        left join asset_order o
        on op.order_id = o.id
        <where>
            <if test="previousTime != null and previousTime !=''">
                <![CDATA[
                and DATE_FORMAT(op.create_time, '%Y-%m-%d')>=DATE_FORMAT(#{previousTime}, '%Y-%m-%d')
                ]]>
            </if>
            <if test="nextTime != null and nextTime !=''">
                <![CDATA[
                and DATE_FORMAT(op.create_time, '%Y-%m-%d') <=DATE_FORMAT(#{nextTime}, '%Y-%m-%d')
                ]]>
            </if>
            and op.type in(5,7)
        </where>
      ORDER BY type,op.order_id
    </select>



</mapper>